

.task__list-wrapper{
background-color: #FFF;
  padding: 20px 20px 10px 20px;
  width: 600px;
  margin: 30px auto;
}
.task__list-tittle{
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    color : #824C71;
}
.task__list-element{
    border-radius: 3px;
  padding: 0.25em 1em;
  margin: 0 1em 0.2em 0;
  background: transparent;
  border: 2px solid palevioletred;
}
.task__list{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
.delete{
    float: right;
}
 .done {
    text-decoration: line-through;
}

.newTaskInput{
    width: 514px;
    height: 29px;
    margin-right: 20px;
    font-size: 1.4em;
    vertical-align: top;
    margin-bottom: 10px;
}
.form button{
    height: 36px;
    font-size: 1.1em;
    vertical-align: top;
    border: solid 1px #999;
    border-radius: 2px;
}


