<div class="task__list-wrapper">
  <h1 class="task__list-tittle">TODO</h1>
  <div class="form">
    <input class="newTaskInput" #text />
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="addTask(text.value); text.value=''">
      add
    </button>
  </div>
  <ul class="task__list">
    <!-- <li class="task__list-element" *ngFor="let task of tasks; let i=index">
      <input type="checkbox" class="checkbox" [(ngModel)]="task.completed" />
      <span [ngClass]="{'checked': task.completed}">{{ task.text }}
        <span (click)="deleteTask(task)" class="delete-icon">[X]
    </li>-->
    <li class="task__list-element" *ngFor="let task of tasks; let i=index">
      <input type="checkbox" class="checkbox" value="" [(ngModel)]="task.completed" />
      <span [ngClass]="{'done': task.completed}"></span>{{task.text}}
      <button class="delete" title="delete todo" (click)="deleteTodo(i, task)">x
      </button>
    </li>
  </ul>
</div>